.scrollable-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.citys-cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
